.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #60708B;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    text-align: center;
}

.modal-content h2 {
    margin-bottom: 20px;
    color: #fff;
}

.booking-form {
    display: flex;
    gap: 20px;
}

.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
   text-align: left;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.submit-button {
    padding: 10px 16px;
    background-color: transparent;
    color: white;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 5px;
}

.close-button {
    background-color: #333;
    color: white;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
