.header {
    background-color: #00040B;
    padding: 1rem 0;
}

.nav-bar {
    display: flex;
    justify-content: center;
}

.navigation {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.link {
    margin: 0 1rem;
    color: #fff;
}

.link a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
  
}

.link a:hover {
    color: #f30594;
}

.site-logo a{
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: auto;
    color: #fff;
    border-top: 4px solid #fff;
}
