.forms {
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab {
    background-color: #D9D9D9;
    border: none;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.tab.active {
    background-color: #60708B;
    color: white;
}

.form {
    display: none;
}

.form.active {
    display: block;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #60708B;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #D9D9D9;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
