.services {
    color: #ffffff;
    padding: 50px 20px;
    text-align: center;
}

.services-title {
    font-size: 2.5rem;
    margin-bottom: 100px;
    color: #ffffff;
}

.services-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.service-card {
    background-color: #586073; 
    padding: 30px;
    border-radius: 15px;
    width: 250px;
    text-align: center;
}

.service-icon {
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 15px;
}

.service-title {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
}

.service-description {
    font-size: 0.9rem;
    color: #d1d1d1;
}